body {
  background-color: rgb(0, 225, 255);
}

#cabecalho {
  text-align: center;
  color: white;
  font-size: 30px;
}

#container {
  background-color: aliceblue;
  height: 500px;
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 70px;
}

#geral {
  display: flex;
  justify-content: center;
}

#imagem {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

#mensagem {
  font-size: 25px;
}

#tenha {
  margin-top: 15px;
  font-size: 25px;
}
